<a href="https://colab.research.google.com/github/rcoroneldev/Machine-Learning-Sanitas-DS/blob/main/Machine_Learning_Sanitas_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Customer Churn Prediction in Sanitas Case
 ### Pasos para resolver el problema

1. Definir el problema a resolver.
2. Obtener los datos. 
3. Analisis exploratorio de datos (EDA)
3. Preparar y limpiar los datos (Data preparation).
3. Visualizacion de los datos.
4. Modelado.  
5. Evaluacion de Modelo.
6. Despliegue.
7. Conclusion.

# Instalacion y importacion de librerias

In [1]:
# libraries of data analysis
import pandas as pd
#import xlrd
import numpy as np


# librries of visualization
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

# machine libraries
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

# 1. Definicion de problema a resolver

#

# 2. Obtener de los datos

## Load dataset

In [2]:
# Lectura de los datos
print("START CODE")
df = pd.read_excel('../Dataset_Caso_SANITASF.xlsx')
print("END CODE")
df

START CODE
END CODE

,ID,INGRESO_201710,INGRESO_201711,INGRESO_201712,INGRESO_201801,INGRESO_201802,INGRESO_201803,INGRESO_201804,INGRESO_201805,INGRESO_201806,...,DEPARTAMENTO,PROVINCIA,DISTRITO,MACRO_REGION,TIPO_PAGO,vp_primas,vp_siniestros,vp_tecnico,vp_gastos,VP_OPERATIVO
0,1,849.00,849.00,849.00,849.00,849.00,849.00,849.00,849.00,849.00,...,UCAYALI,CORONEL,CALLERIA,SELVA,DEBITO,2754.68920,1660.55460,1066.23010,521.49500,544.73511
1,2,857.00,857.00,857.00,857.00,857.00,857.00,857.00,857.00,857.00,...,UCAYALI,CORONEL,CALLERIA,SELVA,EFECTIVO,20851.59600,13848.71600,6791.65720,2850.57350,3941.08400
2,3,4319.05,4319.05,4276.78,4140.73,4140.73,4140.73,4140.73,3278.82,3278.82,...,UCAYALI,CORONEL,CALLERIA,SELVA,CREDITO,6860.87060,4427.81640,2363.55440,2520.37260,-156.81792
3,4,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,...,UCAYALI,CORONEL,CALLERIA,SELVA,DEBITO,9865.31540,5627.26070,4138.12060,1438.12510,2699.99560
4,5,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,...,UCAYALI,CORONEL,CALLERIA,SELVA,DEBITO,9865.31540,5627.26070,4138.12060,1438.12510,2699.99560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20297,20298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PASCO,OXAPAMPA,OXAPAMPA,SIERRA_CENTR,EFECTIVO,544.32782,60.92601,477.88785,180.59570,297.29214
20298,20299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LIMA,LIMA,MIRAFLORES,LIMA_MODERNA,CREDITO,3870.39330,712.52173,3118.66500,760.65186,2358.01320
20299,20300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LIMA,LIMA,BARRANCO,LIMA_MODERNA,CREDITO,1910.61120,192.75365,1698.50340,458.65381,1239.84950
20300,20301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CUSCO,URUBAMBA,URUBAMBA,SIERRA_SUR,CREDITO,3164.02370,818.63831,2313.33450,586.72168,1726.61270
20301,20302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LIMA,LIMA,SANTIAGO DE SURCO,LIMA_MODERNA,CREDITO,12853.93200,6721.21580,6002.50730,1880.07430,4122.43310

# 3. Preparar y limpiar los datos (Data preparation)

## Data Transformation

### Remove Columns

### Transform columns in upper case

## Data Reduction

### PCA

## Data Cleaning

### Missing Values

#### Remove NaN

#### Look for missing values

#### Data imputation

### Outliers

### Duplicate Data

#### Drop duplicate

# 4. Analisis exploratorio de datos (EDA)

# 5. Visualizacion de los datos

# 4. Modelado.

 # 5. Evaluacion de Modelo.

# 6. Despliegue.